--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: address; Type: TABLE; Schema: public; Owner: cc
--

CREATE TABLE public.address (
    id bigint NOT NULL,
    street character varying(255) NOT NULL,
    city character varying(255) NOT NULL
);


ALTER TABLE public.address OWNER TO cc;

--
-- Name: address_id_seq; Type: SEQUENCE; Schema: public; Owner: cc
--

CREATE SEQUENCE public.address_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.address_id_seq OWNER TO cc;

--
-- Name: address_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cc
--

ALTER SEQUENCE public.address_id_seq OWNED BY public.address.id;


--
-- Name: student; Type: TABLE; Schema: public; Owner: cc
--

CREATE TABLE public.student (
    id bigint NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) DEFAULT NULL::character varying,
    email character varying(255) DEFAULT NULL::character varying,
    address_id bigint
);


ALTER TABLE public.student OWNER TO cc;

--
-- Name: student_id_seq; Type: SEQUENCE; Schema: public; Owner: cc
--

CREATE SEQUENCE public.student_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_id_seq OWNER TO cc;

--
-- Name: student_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cc
--

ALTER SEQUENCE public.student_id_seq OWNED BY public.student.id;


--
-- Name: subject; Type: TABLE; Schema: public; Owner: cc
--

CREATE TABLE public.subject (
    id bigint NOT NULL,
    subject_name character varying(255) DEFAULT NULL::character varying,
    marks_obtained numeric(38,2),
    student_id bigint
);


ALTER TABLE public.subject OWNER TO cc;

--
-- Name: subject_id_seq; Type: SEQUENCE; Schema: public; Owner: cc
--

CREATE SEQUENCE public.subject_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subject_id_seq OWNER TO cc;

--
-- Name: subject_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cc
--

ALTER SEQUENCE public.subject_id_seq OWNED BY public.subject.id;


--
-- Name: user_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_entity (
    id bigint NOT NULL,
    email character varying(255),
    password character varying(255),
    username character varying(255)
);


ALTER TABLE public.user_entity OWNER TO postgres;

--
-- Name: user_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: address id; Type: DEFAULT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.address ALTER COLUMN id SET DEFAULT nextval('public.address_id_seq'::regclass);


--
-- Name: student id; Type: DEFAULT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.student ALTER COLUMN id SET DEFAULT nextval('public.student_id_seq'::regclass);


--
-- Name: subject id; Type: DEFAULT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.subject ALTER COLUMN id SET DEFAULT nextval('public.subject_id_seq'::regclass);


--
-- Data for Name: address; Type: TABLE DATA; Schema: public; Owner: cc
--

COPY public.address (id, street, city) FROM stdin;
1	Happy Street	Delhi
2	2nd Street	Mumbai
3	3rd Street	Delhi
4	any street	Mumbai
6	Hauptstra├ƒe 55	Wien
\.


--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: cc
--

COPY public.student (id, first_name, last_name, email, address_id) FROM stdin;
1	John	Smith	john@gmail.com	1
2	Virat	Dave	virat@gmail.com	2
3	Steve	Martin	steve@gmail.com	3
4	Sachin	Kumar	sachin@gmail.com	4
6	Ninja	CoderM	wien@wien.at	6
\.


--
-- Data for Name: subject; Type: TABLE DATA; Schema: public; Owner: cc
--

COPY public.subject (id, subject_name, marks_obtained, student_id) FROM stdin;
1	Java	80.00	1
2	MySQL	70.00	1
3	Java	80.00	2
4	MySQL	70.00	2
5	MongoDB	70.00	2
6	MySQL	70.00	3
7	MongoDB	70.00	3
8	Java	60.00	4
9	MongoDB	50.00	4
10	Java	60.00	6
11	SpringBoot3	77.00	6
\.


--
-- Data for Name: user_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_entity (id, email, password, username) FROM stdin;
1	john.doe@example.com	$2a$10$VNLjEGLT28BjZnXsZqmZSegsgJ1sMLEvf2Wzr6519hnd/8J29RS8a	JohnDoe
2	cc.doe@example.com	$2a$10$VNLjEGLT28BjZnXsZqmZSegsgJ1sMLEvf2Wzr6519hnd/8J29RS8a	cc
\.


--
-- Name: address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cc
--

SELECT pg_catalog.setval('public.address_id_seq', 6, true);


--
-- Name: student_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cc
--

SELECT pg_catalog.setval('public.student_id_seq', 6, true);


--
-- Name: subject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cc
--

SELECT pg_catalog.setval('public.subject_id_seq', 11, true);


--
-- Name: user_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_entity_id_seq', 2, true);


--
-- Name: address address_pkey; Type: CONSTRAINT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.address
    ADD CONSTRAINT address_pkey PRIMARY KEY (id);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (id);


--
-- Name: subject subject_pkey; Type: CONSTRAINT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.subject
    ADD CONSTRAINT subject_pkey PRIMARY KEY (id);


--
-- Name: user_entity user_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity
    ADD CONSTRAINT user_entity_pkey PRIMARY KEY (id);


--
-- Name: student fk_address; Type: FK CONSTRAINT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT fk_address FOREIGN KEY (address_id) REFERENCES public.address(id);


--
-- Name: subject subject_ibfk_1; Type: FK CONSTRAINT; Schema: public; Owner: cc
--

ALTER TABLE ONLY public.subject
    ADD CONSTRAINT subject_ibfk_1 FOREIGN KEY (student_id) REFERENCES public.student(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT CREATE ON SCHEMA public TO cc;


--
-- Name: TABLE user_entity; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.user_entity TO cc;


--
-- PostgreSQL database dump complete
--

